body {
background-image: url(https://krot.info/uploads/posts/2020-01/1579558571_16-p-foni-s-shesterenkami-42.jpg);
background-repeat: no-repeat;
background-position: center;
background-attachment: fixed;
background-size: cover;
   
}

p {
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: bold;

}

p1 {
    text-align: center;
    position: relative;
    top: 430px; 
    left: 540px;
    font-size: 17px;
    font-style: normal;
    font-weight: bold;

}

.one{
    position: absolute;
    top: 2%;
    left: 80%;
}


div.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
}

h1 {
    font-family: "Roboto Slab", Georgia, "Times New Roman", Times, serif;
    position: absolute;
    top: 5%;
    right: 480%;
    color: #000000;
    display: inline-block;
    width: 230px;
    height: 30px;
    border: 2px solid #000;
    font-size: 1.5em;
    padding: 0.7em;
    margin: 0;
    line-height: 1;

}

h2 {
     font-family: "Roboto Slab", Georgia, "Times New Roman", Times, serif;
    position: absolute;
    top: 60%;
    right: 480%;
    color: #000000;
    display: inline-block;
    width: 230px;
    height: 30px;
    border: 2px solid #000;
    font-size: 1.5em;
    padding: 0.7em;
    margin: 0;
    line-height: 1;
}

details > summary {
    position: relative;
    top: 115px;
    padding: 5px;
    background-color: #FFFFFF;
    color: #000000;
    border: thick double #32a1ce;
    cursor: pointer;
    font-size: 20px;
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: bold;
    list-style-type: disc;  /* задаем маркер*/
}

details > div {
    border: 1px #ccc solid;
    padding: 10px;
}

details[open] > summary {
position: relative;
top: 115px;
color:#FFFFFF; 
background-color:#000080;
}

li {
    position: relative;
    top: 115px;
}

div.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
}


#parentcanvas {
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
justify-content: center;
-ms-align-items: center;
align-items: center;
}
