body {
 background-image: url(shesterny.jpg);
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
   
}

p {
    text-align: center;
    font-size: 22px;
    font-style: italic;
    font-weight: bold;

}
.one{
    text-align: center;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    background: #8FBC8F;
    border: 1px solid #e2e2e2;
    margin: 75px;
}
div.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
}

h1 {
    font-family: "Roboto Slab", Georgia, "Times New Roman", Times, serif;
    position: relative;
    color: #000000;
    display: inline-block;
    border: 2px solid #000;
    font-size: 2em;
    padding: 11px 60px;
    margin: 0;
    line-height: 1;

}

h2 {
     font-family: "Roboto Slab", Georgia, "Times New Roman", Times, serif;
    position: relative;
    color: #000000;
    display: inline-block;
    border: 2px solid #000;
    font-size: 2em;
    padding: 11px 60px;
    margin: 0;
    line-height: 1;
}

details > summary {
    padding: 5px;
    background-color: #edd7de;
    color: #008B8B;
    border: 1px #ccc solid;
    cursor: pointer;
    font-size: 20px;
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: bold;
    list-style-type: disc;  /* задаем маркер*/
}

details > div {
    border: 1px #ccc solid;
    padding: 10px;
}

details[open] > summary {
color:#eee; 
background-color:#bc8f8fbf;
}



div.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
}


#parentcanvas {
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
justify-content: center;
-ms-align-items: center;
align-items: center;
}
